{% extends "admin/change_form.html" %}
{% load i18n admin_urls unfold %}

{% block after_field_sets %}
    <div class="pt-2">
        <div class="flex flex-wrap items-center justify-start gap-2">
            {% url opts|admin_urlname:'changelist' as changelist_url %}
            {% add_preserved_filters changelist_url as cancel_url %}

            {% component "unfold/components/button.html" with href=cancel_url variant="default" size="sm" class="!w-auto !min-w-0 shrink-0 px-3 py-1.5 text-sm" %}
                {% trans "Cancel" %}
            {% endcomponent %}

            {% component "unfold/components/button.html" with submit=1 form=opts.model_name|add:"_form" name="_save" size="sm" class="!w-auto !min-w-0 shrink-0 px-3 py-1.5 text-sm" %}
                {% trans "Save" %}
            {% endcomponent %}
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
