# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend 
# EMAIL_HOST=smtp.gmail.com 
# EMAIL_PORT=587  
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=foysal.cse13@gmail.com
# EMAIL_HOST_PASSWORD=aceeogisfltuxkbv
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=myprojectdb
# DB_USER=myprojectuser
# DB_PASSWORD=admin
# DB_HOST=127.0.0.1
# DB_PORT=5432
