{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div style="display:flex;gap:10px;align-items:center;justify-content:flex-end;margin-bottom:20px;">
        <a href="{% url 'admin:students_studentprofile_export_excel' %}" style="padding:10px 16px;background-color:#9225eb;color:#fff;font-size:14px;font-weight:500;border-radius:8px;text-decoration:none;display:inline-flex;align-items:center;gap:8px;">
            <span class="material-symbols-outlined" style="font-size:18px;">download</span>
            Download Excel
        </a>
        {{ block.super }}
    </div>
{% endblock %}
